<script>
  // Initialize an empty error message variable
  var errorMsg = "";

  // Select the anchor element that triggers the quote button
  var anchorElement = document.querySelector('a.get-my-quote-button');

  // Create a new button element to replace the anchor element
  var buttonElement = document.createElement('button');

  // Initialize a form data object to hold user input information
  var formD = { hasPartner: false, ind: {}, partner: {} };

  // Set the class attribute for the new button element
  buttonElement.setAttribute("class", "get-my-quote-button w-button");

  // Set the inner HTML of the button to match the anchor element's content
  buttonElement.innerHTML = anchorElement.innerHTML;

  // Replace the anchor element with the newly created button in the DOM
  anchorElement.parentNode.replaceChild(buttonElement, anchorElement);

  // Add an event listener to execute code when the DOM is fully loaded
  document.addEventListener("DOMContentLoaded", function () {
    // Select the input fields for self and partner birthdates
    var self_birthdate = document.querySelector("#self-Birthdate");
    var partner_birthdate = document.querySelector("#partner-Birthdate");

    // Select the hint elements for displaying date hints
    var self_hints = document.querySelector("#self-dob-hints");
    var partner_hints = document.querySelector("#partner-dob-hints");

    // Select the submit button
    const submitButton = document.querySelector(".get-my-quote-button");

    // Add an event listener to the self birthdate input field for formatting
    self_birthdate.addEventListener("input", function () {
      formatDate(this); // Call formatDate function to format the input
      // Show or hide hints based on input value
      if (this.value) {
        self_hints.style.display = 'block';
      } else {
        self_hints.style.display = 'none';
      };
    });

    // Add an event listener to the partner birthdate input field for formatting
    partner_birthdate.addEventListener("input", function () {
      formatDate(this); // Call formatDate function to format the input
      // Show or hide hints based on input value
      if (this.value) {
        partner_hints.style.display = 'block';
      } else {
        partner_hints.style.display = 'none';
      };
    });

    // Add a click event listener to the submit button to trigger form submission
    submitButton.addEventListener("click", function () {
      submitForm(); // Call submitForm function to handle form submission
    });
  });

  // Function to format the date input into MM/DD/YYYY format
  function formatDate(input) {
    let value = input.value.replace(/\D/g, ""); // Remove non-digit characters
    // Format the value based on its length
    if (value.length > 4) {
      value =
        value.slice(0, 2) + "/" + value.slice(2, 4) + "/" + value.slice(4, 8);
    } else if (value.length > 2) {
      value = value.slice(0, 2) + "/" + value.slice(2);
    }
    input.value = value; // Update the input field with the formatted value
  }

  // Function to validate the formatted date string
  function isValidDate(dateString) {
    var regex = /^\d{2}\/\d{2}\/\d{4}$/; // Regular expression for date format
    // Check if the date string matches the regex
    if (!regex.test(dateString)) {
      errorMsg = "Invalid date"; // Set error message if invalid
      return false; // Return false for invalid date
    }
    var parts = dateString.split("/"); // Split the date string into parts
    var day = parseInt(parts[0], 10); // Parse day
    var month = parseInt(parts[1], 10); // Parse month
    var year = parseInt(parts[2], 10); // Parse year
    // Validate month range
    if (month < 1 || month > 12) {
      errorMsg = "Month must be in between 01 and 12"; // Set error message for month
      return false; // Return false for invalid month
    }
    var daysInMonth = new Date(year, month, 0).getDate(); // Get the number of days in the month
    // Validate day range
    if (day < 1 || day > daysInMonth) {
      errorMsg = "Invalid date"; // Set error message for invalid day
      return false; // Return false for invalid day
    }
    // Validate year range
    if (year < 1000 || year > 9999) {
      return false; // Return false for invalid year
    }
    var inputDate = new Date(year, month - 1, day); // Create a date object from the input
    var ageDiffMilliseconds = Date.now() - inputDate.getTime(); // Calculate age difference in milliseconds
    var ageDate = new Date(ageDiffMilliseconds); // Create a date object from the age difference
    var age = Math.abs(ageDate.getUTCFullYear() - 1970); // Calculate age in years
    // Validate age range
    if (age < 18) {
      errorMsg = "Must be at least 18"; // Set error message for underage
      return false; // Return false for underage
    }
    if (age > 75) {
      errorMsg = "Must be 75 or under"; // Set error message for age over 75
      return false; // Return false for age over 75
    }
    return true; // Return true for valid date
  }

  // Function to handle form submission
  function submitForm() {
    let errors = document.querySelectorAll(".quotes-widget-error"); // Select all error elements
    for (e of errors) {
      e.style.display = "none"; // Hide all error messages initially
    }
    let hasAllFields = true; // Flag to track if all required fields are filled
    const birthdate = document.querySelector("#self-Birthdate").value; // Get self birthdate value
    const p_birthdate = document.querySelector("#partner-Birthdate").value; // Get partner birthdate value

    // Validate self birthdate
    if (!birthdate) {
      hasAllFields = false; // Set flag to false if birthdate is missing
      errorMsg = "Required field"; // Set error message for missing field
      document.getElementById("dob-input-error").style.display = "block"; // Show error message
    }
    // Validate gender input for individual
    if (!formD['ind']['gender']) {
      hasAllFields = false; // Set flag to false if gender is missing
      document.getElementById("gender-input-error").style.display = "block"; // Show error message
    }
    // Validate smoker input for individual
    if (!formD['ind']['smoker']) {
      hasAllFields = false; // Set flag to false if smoker status is missing
      document.getElementById("smoker-input-error").style.display = "block"; // Show error message
    }
    // If the user has a partner, validate partner fields
    if (formD.hasPartner) {
      if (!p_birthdate) {
        document.getElementById("dob-input-error").style.display = "block";
        errorMsg = "Required field";
        hasAllFields = false; // Set flag to false if partner birthdate is missing
      };
      if (!formD['partner']['gender']) {
        document.getElementById("gender-input-error").style.display = "block";
        hasAllFields = false; // Set flag to false if partner gender is missing
      };
      if (!formD['partner']['smoker']) {
        document.getElementById("smoker-input-error").style.display = "block";
        hasAllFields = false; // Set flag to false if partner smoker status is missing
      }
    }
    // If all fields are filled and valid, proceed with form submission
    if (hasAllFields && isValidDate(birthdate) && (!formD.hasPartner || isValidDate(p_birthdate))) {
      for (e of errors) {
        e.style.display = "none"; // Hide all error messages
      }
      // Track form submission event with analytics
      window.analytics && window.analytics.track('Quote Widget Form Submitted', { ...utmCookies, from: window.location.href });
      // Construct the URI for the next step in the quote process
      var uri = `https://${window.location.host}/life/ci/life-insurance-quotes-continued?birthdate=${birthdate.replaceAll(
        "/",
        ""
      )}&smoker=${formD.ind.smoker}&gender=${formD.ind.gender}`;
      // If the user has a partner, append partner details to the URI
      if (formD.hasPartner) uri = uri + `&partner=true&partner_smoker=${formD.partner.smoker}` + `&partner_birthdate=${p_birthdate.replaceAll(
        "/",
        ""
      )}` + `&partner_gender=${formD.partner.gender}`;
      const url_ = new URL(window.location.href); // Create a URL object from the current URL
      const moreUrlParams = new URLSearchParams(url_.search); // Get the search parameters from the URL
      let queryString = ''; // Initialize an empty query string
      moreUrlParams.forEach((value, key) => {
        queryString += `&${key}=${value}`; // Append each parameter to the query string
      });
      uri = uri + queryString; // Append the query string to the URI
      window.open(
        uri,
        "_blank" // Open the constructed URI in a new tab
      );
    } else {
      const dobError = document.getElementById("dob-input-error"); // Select the date of birth error element
      dobError.style.display = "block"; // Show the error message
      dobError.textContent = errorMsg; // Set the error message text
    }
  }

  // Select all option groups for the quote widget
  var optionGroups = document.querySelectorAll(
    ".quotes-widget-radio-row .quotes-widget-options"
  );
  // Iterate over each option group
  optionGroups.forEach(function (group) {
    var options = group.querySelectorAll(".quotes-tab-btn"); // Select all options within the group
    // Iterate over each option button
    options.forEach(function (option) {
      // Add a click event listener to each option
      option.addEventListener("click", function () {
        var parentGroup = this.closest(".quotes-widget-options"); // Get the closest parent group
        var innerDivs = parentGroup.querySelectorAll(".quotes-tab-btn"); // Select all option buttons in the group
        // Remove the active class from all options except the clicked one
        innerDivs.forEach(function (div) {
          if (div !== option) {
            div.classList.remove("w--current");
          }
        });
        // Split the option ID to get person, category, and value
        var [person, category, value] = option.id.split("-");
        // If the category is "application", handle partner options
        if (category == "application") {
          var partnerOptions = document.querySelectorAll(
            ".quotes-widget-partner"
          );
          partnerOptions.forEach(function (o) {
            // Show or hide partner options based on the selected person
            if (person == "ind") {
              o.classList.add("hidden");
              formD.hasPartner = false; // Set hasPartner to false if individual is selected
            } else {
              o.classList.remove("hidden");
              formD.hasPartner = true; // Set hasPartner to true if partner is selected
            }
          });
        }
        // If category and value are defined, update the form data object
        if (category && value) {
          formD[person][category] = value; // Update the corresponding field in formD
        }
        option.classList.add("w--current"); // Add active class to the clicked option
      });
    });
  });
  // Simulate a click on the individual application option to initialize the form
  document.getElementById("ind-application").click();
</script>